/* Day 8: Create a Button Hackerrank */
/* #btn{
    width: 96px;
    height: 48px;
    font-size: 24px;
} */

/* Day 8: Buttons Container Hackerrank */
/* #btns {
  width: 75%;
}
#btn1,
#btn2,
#btn3,
#btn4,
#btn5,
#btn6,
#btn7,
#btn8,
#btn9 {
  width: 30%;
  height: 48px;
  font-size: 24px;
} */
